
$background-color: 		#fcfcfc;

$black:					#000;
$white:					#fff;

$grey-color-dark: 		#333;
$grey-color-normal: 	#666;
$grey-color-light: 		#aaa;
$grey-color-lighter: 	#ddd;
$grey-color-lightest: 	#eee;

$primary-color:			#61C7D5;
$secondary-color:       #E04E59;
$header-color:			#4F525B;

// brand colors
$brand-facebook:	    #3B5998;
$brand-twitter:	        #1DA1F2;
$brand-instagram:       #E4405F;
$brand-linkedin:        #0077B5;
$brand-github:          #181717;
$brand-stack-overflow:  #FE7A16;
$brand-dribbble:        #EA4C89;
$brand-twitch:          #6441A4;
$brand-rss:             #FFA500;
$brand-email:           $primary-color;

$default-width:			80%;
$on-tablet:				1024px; // 768px;
$on-smaller-tablets:    640px;
$on-phone:				480px;

$burger-cell-height:    2px;

$confirm-color:         lighten($header-color, 20%);